/* CUSTOM PROPERTIES */
:root{
    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-accent: 231 77%  90%;
    --clr-white: 0 0% 100%;

    /* FONT-SIZES */
    --fs-900: clamp(5rem,10vw + 1rem,9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* FONT-FAMILY */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* FOR TABLET */
@media (min-width: 35rem){
    :root{
        /* FONT-SIZES */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

/* FOR DESKTOP */
@media (min-width: 45rem){
    :root{
        /* FONT-SIZES */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ------RESET------- */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote{
    margin: 0;
    padding:0;
    font-weight: 400;
}

button{
    outline:0;
    background-color: transparent;
    border:none
}

body{
    font-family:var(--ff-sans-normal);
    font-size:var(--fs-400);
    color: hsl(var(--color-white));
    background-color: hsl(var(--color-dark));
    min-height: 100vh;
    line-height:1.5;

    display: grid;
    grid-template-rows:  min-content 1fr;
    position: relative;
    overflow-x: hidden;
}

img,picture{
    max-width:100%;
    display:block;
}

input,
button,
textarea{
    font:inherit;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style-type: none;
}
a{
    color:inherit;
    text-decoration: none;
    font-family: inherit;
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------UTILITIES---------------------------- */

.flex{
    display: flex;
    gap:var(--gap, 1rem);
}

.grid{
    display: grid;
    gap:var(--gap, 1rem);
}
.d-block{
    display: block;
}
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}
.container{
    padding-inline: 2rem;
    margin-inline: auto;
    max-width:80rem;

}
.flow > *:not(:first-child){
    margin-top: var(--flow-space, 1rem);
}
.flow--space-small{
    --flow-space: .75rem;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  /* COLORS */
  .bg-dark{
      background-color: hsl(var(--clr-dark));
  }
  .bg-accent{
      background-color: hsl(var(--clr-accent));
  }
  .bg-white{
      background-color: hsl(var(--clr-white));
  }
  .text-dark{
      color: hsl(var(--clr-dark));
  }
  .text-accent{
      color: hsl(var(--clr-accent));
  }
  .text-white{
      color: hsl(var(--clr-white));
  }

  /*-----TYPOGRAPHY------- */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }
.text-center{ text-align: center; }
.lh-2{
    line-height: 2;
}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* --------END OF UTILITIES------------------- */


/*-------------------- C O M P O N E N T S -------------- */

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}

.large-button{
    display: inline-grid;
    position : relative;
    z-index:1;
    place-items: center;
    padding-inline: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 2rem;
    
}

.large-button::after{
    content:"";
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    background: hsl( var(--clr-white) / .15);
    border-radius: 50%;
    opacity:0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
}

.underline-indicators > * {
    padding:var(--underline-gap, 1rem) 0;
    border-bottom: .2rem solid hsl(var(--clr-white) /0);
}
.underline-indicators > *:hover,
.underline-indicators > *:focus{
    border-bottom: .2rem solid hsl(var(--clr-white)/.5);

}

.underline-indicators > .active{
    border-bottom : .2rem solid hsl( var(--clr-white) / 1);
}


.tab-list{
    --gap: 2rem;
}
.tab-list > [aria-selected = "true"]{
    color: hsl( var(--clr-white) / 1);
    border-bottom: .2rem solid hsl( var(--clr-white) / 1);
}

.dot-indicators > *{
    cursor: pointer;
    aspect-ratio: 1;
    padding:.5em;
    background: hsl( var(--clr-white) / .25);
    --gap: 2rem;
    border-radius: 50%;
}
.dot-indicators > *:hover,
.dot-indicators > *:focus{
    background: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"]{
    background:hsl( var(--clr-white) / 1)
}

.numbered-indicators > *{
    color: hsl( var(--clr-white) / 1);
    cursor: pointer;
    aspect-ratio: 1;
    padding: 1em;
    background: transparent;
    border: 1px solid hsl( var(--clr-accent)/.25);
    --gap: 1rem;
    border-radius: 50%; 
}
.numbered-indicators >*:hover,
.numbered-indicators > *:focus{
    background: hsl( var(--clr-white) / .5);
}
.numbered-indicators > [aria-selected="true"]{
    color: hsl( var(--clr-dark)/ 1);
    background:hsl( var(--clr-white) / 1)
}

/* SKIP LINK */
.skip-to-content{
    position: absolute;
    background:hsl( var(--clr-white) / 1);
    color:hsl( var(--clr-dark)/ 1);
    padding: 1rem 1rem;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
}
.skip-to-content:focus{
    transform: translateY(0);
}


/* -----NAVIGATION----- */

.primary-header {
    justify-content:space-between;
}
.logo{
    margin: 2rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation{
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2em;
    background: hsl( var(--clr-dark)/.95);
}
.primary-navigation a > span{
    font-weight: 700;
    margin-right: .75rem;
}
@supports(backdrop-filter: blur(1.5rem)){
    .primary-navigation{
        background:hsl(var(--clr-accent)/.05);
        backdrop-filter: blur(1.5rem);
    }
}

/* MOBILE-TOGGLE */
 .mobile-nav-toggle{
    display: none;
}


/* MEDIA QUERY FOR NAVIGATION (DESKTOP) */

@media (min-width: 45em){
    .primary-header{
        margin-block: 2rem;
    }
    .primary-header:after{
        content:"";
        display:block;
        position: relative;
        align-self: center;
        width: 100%;
        height:1px;
        background-color: hsl( var(--clr-white) / .25);
        order: 1;
        z-index: 3000;
        margin-right:-3rem;
        margin-bottom:1rem;
    }
    nav{
        order:2;
    }
}

/* MEDIA QUERY FOR NAVIGATION (TABLET) */

@media (min-width:35em){
    .primary-navigation{
        padding-inline: clamp(3rem, 7vw, 7rem) clamp(3rem, 7vw, 9rem);
    }
}

@media (min-width:35em) and (max-width:45em){
    .primary-navigation{
        padding-inline: 3rem;
    }
    .primary-navigation a > span{
        display: none;
    }
}

/* MEDIA-QUERY FOR NAVIGATION(MOBILE) */
@media (max-width: 35em){
    .primary-navigation{
        --underline-gap: 1em;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 4;
        flex-direction: column;
        padding: min(20rem,15vh)  2rem;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }
    .primary-navigation.underline-indicators > .active{
        border:0;
    }
    .mobile-nav-toggle{
        display:block;
        border:0;
        position: absolute;
        top:3rem;
        right:1rem;
        background:no-repeat;
        background-image:url(./assets/shared/icon-hamburger.svg);
        width:1.5rem;
        aspect-ratio: 1;
        z-index: 2000;
    }
    .mobile-nav-toggle[aria-expanded = "true"]{
        background-image: url(./assets/shared/icon-close.svg);
    }
}
/* ---------------------END OF C O M P O N E N T S------------------------ */


/* ----------------------------LAYOUT-------------------------------- */

/* ---LAYOUT - DESTINATION PAGE(MOBILE)---- */
.grid-container--destination{
    grid-template-areas:". title ."
                        ". image ."
                        ". tab-list ."
                        ". article .";
    row-gap: 2rem;  
    padding-bottom: 4rem;    
}
.grid-container--destination > .numbered-title{
    grid-area: title;
}

.grid-container--destination > img{
    grid-area: image;
    max-width: 60%;
}
.grid-container--destination > .tab-list{
    grid-area: tab-list;
}
.grid-container--destination > .destination-info{
    grid-area: article;
}
.destination-meta{
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1px solid hsl( var(--clr-white) / .5);
    padding-top: 2rem;
    margin-top: 2rem;
}
.destination-meta p{
    font-size: 1.75rem;
}

/*------ LAYOUT CREW-PAGE------ */
.grid-container--crew{
    grid-template-areas: ". title ."
                         ". image ."
                         ". dot-indicators ."
                         ". article ."   ;
    row-gap: 2rem;
    padding-bottom: 4rem;
}
.grid-container--crew h1{
    grid-area: title;
}
.grid-container--crew img{
    max-width:60%;
    grid-area: image;
    border-bottom: 1px solid hsl( var(--clr-white) / .15);
}
.grid-container--crew > .dot-indicators{
    grid-area: dot-indicators;
}
.grid-container--crew > article{
    grid-area: article;
}
.crew-article > p{
    margin-top: .75rem;
}



/* TECHNOLOGY PAGE LAYOUT (MOBILE) */
.grid-container--technology > .img-portrait{
    display: none;
}
.grid-container--technology{
    grid-template-areas: ". title ."
                        ". image ."
                        ". numbered-indicators ."
                        ". article .";
    padding-bottom:4rem;
}
.grid-container--technology > h1{
    grid-area : title;
}
.grid-container--technology > .img-landscape{
    grid-area: image;
    grid-column: span 3;
}
.grid-container--technology > .numbered-indicators{
    grid-area: numbered-indicators;
}
.grid-container--technology > article{
    grid-area: article;
}



/*----- GENERAL-LAYOUT (MOBILE) ----- */
.grid-container{
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 30rem) minmax(2rem, 1fr);
    text-align:center; 
    place-items: center;
}
.grid-container p:not([class]){
    max-width: 50ch;
}
.grid-container > *{
    grid-column: 2;
}

/* --------GENERAL - LAYOUT (TABLET)------- */

@media (min-width:35em){
    .numbered-title{
        margin-top: 2rem;
        justify-self: start;
    }
    .destination-meta{
        flex-direction: row;
    }
    .grid-container--crew{
        grid-template-areas: ". title ."
                             ". article ."
                             ". dot-indicators ."
                             ". image ."   ;
        padding-bottom: 0;
    }
    .grid-container--crew img{
        max-width:100%;
        grid-area: image;
        border: none;
    }
}

/* ------------ LAYOUT (DESKTOP) ----------- */
@media (min-width:45em){

    /* GENERAL LAYOUT (DESKTOP) */
    .grid-container{
        text-align:left;
        grid-template-columns: minmax(2em, 1fr) minmax(0, 40em) minmax(0,40em) minmax(2em, 1fr); 
        column-gap: var(--grid-gap, 2rem);
    }

    .grid-container--home{
        align-items: end;
        padding-bottom: max(6rem, 20vh);  
    }
    .grid-container--home > *:first-child{
        grid-column: 2;
    }
    .grid-container--home > *:last-child{
        grid-column:3;
    }


    /*----- DESTINATION-LAYOUT (DESKTOP) ------ */
    .grid-container--destination{
        justify-items: start;
        align-items: start;
        grid-template-areas: ". title title ."
                   ". image tab-list ."
                   ". image article ." ;
    }
    .grid-container--destination > img{
        max-width: 100%;
        justify-self: center;
    }
    .destination-meta{
        --gap: min(4vw, 6rem);
        justify-content: flex-start;
    }


    /* -----CREW-LAYOUT (DESKTOP) ------ */
    .grid-container--crew{
        justify-items: start;
        align-items: start;
        grid-template-areas: ". title image ."
                             ". article image ."
                             ". dot-indicators image ."
                                ;
        row-gap: 4rem;

    }
    .grid-container--crew img{
        justify-self: end;
        align-self: end;
    }



    /* TECHNOLOGY PAGE LAYOUT (DESKTOP) */
    .grid-container--technology > .img-landscape{
        display: none;
    }
    
    .grid-container--technology{
        grid-template-columns: minmax(2em, 1fr) minmax(0, 10em) minmax(0,60em) minmax(0, 40em); ;
        justify-items: center;
        align-items: center;
        grid-template-areas: ". title title ."
                             ". numbered-indicators article image"
                             ". numbered-indicators article image"
                             ;
    }
    
    .grid-container--technology > .img-portrait{
        display: block;
        grid-area: image;
        width:100%;
        height: 95%;
    }
    .grid-container--technology > .numbered-indicators{
        flex-direction: column;
    }
    
    
}

/* -------------END OF LAYOUT------------------------- */


/* PAGE SPECIFICS -- BACKGROUND */
body{
    background-size:cover;
    background-position: bottom center;
}

/*------- HOME-PAGE ---------*/
.home{
    background-image: url("./assets/home/background-home-mobile.jpg");
}
@media (min-width: 35em){
    .home{
        background-position: center center;
        background-image: url("./assets/home/background-home-tablet.jpg");
    }
}
@media (min-width: 45em){
    .home{
        background-image: url("./assets/home/background-home-desktop.jpg");
    }
}

/*------- DESTINATION-PAGE ---------*/
.destination{
    background-image: url("./assets/destination/background-destination-mobile.jpg")
}
@media(min-width: 35em){
    .destination{
        background-image: url("./assets/destination/background-destination-tablet.jpg");
    }
}
@media(min-width: 45em){
    .destination{
        background-image: url("./assets/destination/background-destination-desktop.jpg");
    }
}

/* ----CREW-PAGE-------- */
.crew{
    background-image: url("./assets/crew/background-crew-mobile.jpg");
}

.crew-article > header h2{
    color:hsl( var(--clr-white) / .75);
}
@media (min-width:35em){
    .crew{
        background-position: center center;
        background-image: url("./assets/crew/background-crew-tablet.jpg");
    }
}
@media (min-width:45em){
    .crew{
        background-image: url("./assets/crew/background-crew-desktop.jpg");
    }
}

/* -----TECHNOLOGY--PAGE------ */
.technology{
    background-image: url("./assets/technology/background-technology-mobile.jpg");
}

@media(min-width: 35em){
    .technology{
        background-image:url("./assets/technology/background-technology-tablet.jpg");
    }
}
@media(min-width: 45em){
    .technology{
        background-image: url("./assets/technology/background-technology-desktop.jpg");
    }
}

